<?xml version="1.0" encoding="utf-8"?>
<!--
    This file is pushed by Simply.com automatically. Do not remove or modify this file.
-->
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <remove name="aspNetCore"/>
        </handlers>
        <rewrite>
            <rules>
                <clear />
                <rule name="AcmeChallenge" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="{R:0}.txt" appendQueryString="false" />
                </rule>
            </rules>
	    </rewrite>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="*"/>
        </authorization>
    </system.web>
</configuration>