.gatsby-resp-image-figcaption {
  font-size: 1rem;
  color: #000;
  font-family: "Lato", serif;
  padding-left: 0.325rem;
}

blockquote {
  padding-left: 1.5rem;
  margin-left: 0px;
  border-left: 0.25rem solid #003893;
}
li {
  font-size: 1.2rem;
}
code,
.deckgo-highlight-code-carbon {
  background: #000;
  color: #fff;
  line-height: 1.5;
  font-size: 0.9rem;
}
a {
  color: #003893 !important;
}
a:hover {
  color: #c60c30 !important;
}

h1 {
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif !important;
}
h2 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
p {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif !important;
  color: rgba(41, 41, 41, 1) !important;
}

.footnotes > ol > li > p {
  font-size: small;
}
.inner-tag-container {
  box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 1.3rem;
  padding: 1.5rem;
}
.gatsby-resp-image-wrapper {
  max-width: unset !important;
}
@media (max-width: 500px) {
  p {
    font-size: 1.3rem;
  }
}
