<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
   <system.webServer>
      <httpErrors errorMode="Custom" existingResponse="Replace">
         <remove statusCode="404" subStatusCode="-1" />
         <error statusCode="404" path="404.html" responseMode="File" />
      </httpErrors>
      <staticContent>
         <mimeMap fileExtension=".webp" mimeType="image/webp" />
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  <add input="{REQUEST_URI}" negate="true" pattern="^/home/about$" ignoreCase="true" />
                  <add input="{REQUEST_URI}" negate="true" pattern="^/home/resume$" ignoreCase="true" />
                  <add input="{REQUEST_URI}" negate="true" pattern="^/home/contact$" ignoreCase="true" />
                  <add input="{REQUEST_URI}" negate="true" pattern="^/home/blog$" ignoreCase="true" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
            <rule name="process 410" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{URL}" pattern="^/Home/(.*)$" />
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="CustomResponse" statusCode="410" statusReason="Content has been permanently moved." statusDescription="Gone" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>